*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shadow: #f0b73a;
  --black: #000000;
  --foreground: #ffffff;
  --bg: #07aba0;
}

html {
  font-size: 22px;
}

/* Animated Wave Background */
#bg-one {
  position: fixed;
  top: 0;
  z-index: -1;
  transition: left 1s ease-in-out, transform 1s ease-in-out;
}
#bg-one img {
  height: 100vh;
  position: absolute;
  transform: translateX(-15%);

  animation-name: wave;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
#bg-one .layer-one {
  animation-delay: 1s;
}
#bg-one .layer-two {
  animation-delay: 0.5s;
}

#bg-one.bgHome {
  left: 60%;
}
#bg-one.bgAbout {
  left: -130%;
}
#bg-one.bgProjects{
  left: -70%;
}
#bg-one.bgContact{
  left: 80%;
}

@keyframes wave {
  0% {
    transform: translateX(-15%);
  }
  50% {
    transform: translateX(-16%);
  }
  100% {
    transform: translateX(-15%);
  }
}

/* GENERAL */
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--foreground);
}
input,
textarea,
.button {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.nav-link {
  transition: text-shadow 200ms;
  font-weight: bold;
}
.nav-link:hover {
  text-shadow: -0.15rem 0.15rem var(--black);
}

.black {
  color: var(--black);
}

.shadow {
  text-shadow: -0.15rem 0.15rem var(--shadow);
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  font-family: "Courier Prime", monospace;
  border-right: 0.1rem solid var(--foreground);
  animation: blink 1s steps(1) infinite;
  white-space: nowrap;
}

.button {
  display: inline-block;
  height: 2.5rem;
  padding: 0 1rem;
  border: 0.1rem solid var(--foreground);
  border-radius: 1.25rem;
  line-height: 2.4rem;
  transition: background 100ms, color 100ms;
  background: transparent;
  font-size: 1rem;
}
.button i {
  margin-right: 0.5rem;
}
.button:hover {
  background: var(--foreground);
  color: var(--bg);
}
.button.corner {
  position: fixed;
  bottom: 1rem;
}
.button.corner.right {
  right: 1rem;
}
.button.corner.left {
  left: 1rem;
}
.button.bg {
  background: var(--bg);
  color: var(--foreground);
}
.button.bg:hover {
  color: var(--foreground);
}

.scroll {
  overflow-y: scroll;
}

/* NAVBAR */
nav {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  top: 0;
  left: 0;
}
nav a {
  margin-right: 2rem;
  font-size: 1.25rem;
}
nav a:last-child {
  margin-right: 0;
}

/* HOME */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 100vh;
  color: var(--foreground);
  position: relative;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.home-image {
  position: relative;
}
.home-image img {
  height: 60vh;
}
.home-image-ring {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.home-text {
  text-align: right;
}
.home-text h1,
.home-text p {
  margin-bottom: 1rem;
}
.home-text .title {
  font-size: 3rem;
  color: var(--black);
}
.home-text .subtitle {
  font-size: 1.5rem;
  font-family: "Courier Prime", monospace;
}

/* ABOUT */
.about {
  width: 70%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.25rem;
  overflow: hidden;
}
.about h1 {
  margin-bottom: 1rem;
}

/* PROJECTS */
.projects {
  width: 100%;
  height: 100vh;
}
.projects .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.projects-wrapper {
  width: 70%;
  margin: auto;
  position: relative;
  padding-top: 4rem;
  padding-left: 2rem;
}
.projects-wrapper::before {
  content: "";
  width: 0.15rem;
  height: 100%;
  background: var(--foreground);
  position: absolute;
  top: 0;
  left: 0;
}
.project {
  margin-bottom: 2rem;
}
.project::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background: var(--foreground);
  position: absolute;
  border: 0.5rem solid var(--bg);
  left: -1rem;
}
.project-buttons {
  font-size: 20px;
  margin: 1rem 0;
}
.project-title {
  line-height: 2rem;
}

/* CONTACT */
.contact {
  width: 60%;
  height: 100vh;
  display: flex;
}
.contact-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  width: 80%;
}
input,
textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 10rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0rem 1rem;
  border: 0.15rem solid var(--bg);
  border-radius: 1rem;
  margin: 0.5rem 0;
}
textarea {
  height: 5rem;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* ANIMATIONS */
@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateY(-10%);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.anim-fade-out {
  animation: fade-out 1s ease-in-out forwards;
}
.anim-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}
.hidden {
  display: none;
  opacity: 0;
}

/* MEDIA RULES */
@media screen and (max-width: 1366px) {
  html {
    font-size: 18px;
  }
  .home-image img {
    height: 50vh;
  }
  #bg-one.bgAbout {
    left: -150%;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .home {
    flex-direction: column;
    justify-content: center;
  }
  .home-text {
    text-align: center;
  }
  nav {
    justify-content: center;
    text-align: center;
  }
  .home-image img {
    height: 30vh;
    margin-bottom: 2rem;
  }
  .about {
    font-size: 1.25rem;
  }
  #bg-one.bgHome {
    left: 20%;
  }
  #bg-one.bgAbout {
    left: -220%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .home .subtitle {
    font-size: 1.25rem;
  }
  .about {
    width: 100%;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
    padding: 2rem;
  }
  .contact {
    width: 100%;
  }
  .contact form {
    width: 90%;
  }
  #bg-one.bgAbout {
    left: -260%;
  }
}
